doctype html
html
  head
    title Shadowsocks GUI
    link(rel='stylesheet', type='text/css', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', type='text/css', href='bower_components/bootstrap/dist/css/bootstrap-theme.css')
    style.
      body {
        margin: 10px;
      }
      .combo .left {
        width: 173px;
      }
      .combo .right {
        width:  34px;
      }
      .alert {
        margin-bottom: 10px;
      }
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='bower_components/bootstrap3-typeahead/bootstrap3-typeahead.min.js')

  body
    #divError.alert.alert-error.hide
      | Please fill in the blanks and click Save.
    #divWarning.alert.alert-info.hide
    #divNewVersion.alert.alert-success.hide
      button.close(type='button', data-dismiss='alert') ×
      span.msg

    form.form-horizontal(role="form")

      .form-group.row
        label.control-label.col-sm-2.col-xs-5(for='inputServerIP') Server IP
        .controls.col-sm-10.col-xs-7
          .input-group
            input#inputServerIP.form-control(type='text', data-key='server', autocomplete='off', data-provide='typeahead', placeholder='Server IP')
            .input-group-btn
              button.btn.btn-default.dropdown-toggle(data-toggle='dropdown', type='button', id='dropdownMenu1')
                span.caret
              ul#serverIPMenu.dropdown-menu.dropdown-menu-right(role='menu', aria-labelledby='dropdownMenu1')
                li.server(role="presentation")
                  a(tabindex='-1', href='#', role="menuitem")
                    i.glyphicon.glyphicon-ok
                    | 123.123.123.123:8388
                li.server(role="presentation")
                  a(tabindex='-1', href='#', role="menuitem")
                    i.glyphicon.glyphicon-not-ok
                    | 123.123.123.123:8388
                li.fixed.insert-point.divider
                li.fixed(role="presentation")
                  a#buttonPublicServer(tabindex='-1', href='#', role="menuitem")
                    i.glyphicon.glyphicon-globe
                    | Use Public Server
                li.fixed.divider
                li.fixed(role="presentation")
                  a#buttonNewProfile(tabindex='-1', href='#', role="menuitem")
                    i.glyphicon.glyphicon-plus
                    | Create A New Profile
                li.fixed(role="presentation")
                  a#buttonDeleteProfile(tabindex='-1', href='#', role="menuitem")
                    i.glyphicon.glyphicon-trash
                    | Delete Current Profile

      .form-group.row
        label.control-label.col-sm-2.col-xs-5(for='inputServerPort') Server Port
        .controls.col-sm-10.col-xs-7
          input#inputServerPort.form-control(type='text', data-key='server_port', placeholder='Server Port')

      .form-group.row
        label.control-label.col-sm-2.col-xs-5(for='inputPassword') Password
        .controls.col-sm-10.col-xs-7
          input#inputPassword.form-control(type='password', data-key='password', placeholder='Password')

      .form-group.row
        label.control-label.col-sm-2.col-xs-5(for='inputLocalPort') SOCKS5 Proxy Port
        .controls.col-sm-10.col-xs-7
          input#inputLocalPort.form-control(type='text', data-key='local_port', placeholder='Local Port', value='1080')

      .form-group.row
        label.control-label.col-sm-2.col-xs-5(for='selectMethod') Encryption Method
        .controls.col-sm-10.col-xs-7
          select#selectMethod.form-control(data-key='method')
            option(value='table', selected='selected') Table (Default)
            option(value='aes-256-cfb') AES-256-CFB
            option(value='aes-192-cfb') AES-192-CFB
            option(value='aes-128-cfb') AES-128-CFB
            option(value='bf-cfb') BF-CFB (Blowfish)
            option(value='camellia-256-cfb') CAMELLIA-256-CFB
            option(value='camellia-192-cfb') CAMELLIA-192-CFB
            option(value='camellia-128-cfb') CAMELLIA-128-CFB
            option(value='cast5-cfb') CAST5-cfb
            option(value='des-cfb') DES-CFB
            option(value='idea-cfb') IDEA-CFB
            option(value='rc2-cfb') RC2-CFB
            option(value='rc4') RC4
            option(value='seed-cfb') SEED-CFB

      .form-group.row
        label.control-label.col-sm-2.col-xs-5(for='inputTimeout') Timeout in Second
        .controls.col-sm-10.col-xs-7
          input#inputTimeout.form-control(type='number', data-key='timeout', placeholder='Timeout', value='600', min='10')

      //.control-group
        //.controls
      .row
        .col-xs-5
        .btn-group.col-xs-7
          button#buttonSave.btn.btn-primary
            i.glyphicon.glyphicon-ok.glyphicon-white
            | Save
          button#buttonConsole.btn.btn-info
            i.glyphicon.glyphicon-wrench.glyphicon-white
            | Debug
          button#buttonAbout.btn
            i.glyphicon.glyphicon-info-sign
    script(src='main.js')
